.mainCont {
    /* width: 100%;
    min-height: 98vh;
    background-color: #2A2A2B;
    padding: 4rem 3rem;
    border: 0.25px solid;

    border-image-source: linear-gradient(90deg, rgba(41, 41, 41, 0) -12.84%, #FFFFFF 40.98%, rgba(41, 41, 41, 0) 100.46%);
 */

}

.headingTextCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;


}

.globeSection_cont,
.globeImage_cont,
.gridImage {
    width: 100%;
}

.heading_one {
    font-family: 'Nohemi', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, #FFFFFF 0%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.84rem;
    letter-spacing: 0.02em;
    width: 90%;
}

.heading_two {
    font-family: 'Nohemi', sans-serif;
    color: #D2D2D2;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0.02em;
    text-align: center;
    width: 90%;
}

.globeSection_cont {

    min-height: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* position: relative; */

}


.globeImage_cont {
    width: 88rem;
    margin: auto;

    display: flex;

    justify-content: center;

    position: relative !important;
}


.globle_outer_cont img {
    margin: auto;
    width: 100%;
}

.userImage {
    border-radius: 50%;
    object-fit: cover;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    z-index: 2;
}


.userImage8 {
    width: 6.4rem;
    height: 6.4rem;


    bottom: 23%;
    left:-1%;



}

.userImage1 {
    width: 6.4rem;
    height: 6.4rem;


    bottom: 67%;
    left: 6%;


}

.userImage2 {
    width: 4.4rem;
    height: 4.4rem;


    top: 8%;
    left: 20%;


}

.userImage3 {
    width: 6.4rem;
    height: 6.4rem;
    top: -3%;
    left: 31%;
}

.userImage4 {
    width: 4.4rem;
    height: 4.4rem;
    top: -3%;
    left: 54%;

}

.userImage5 {
    width: 6.4rem;
    height: 6.4rem;
    top: 6%;
    right: 21%;

}

.userImage6 {
    width: 6.4rem;
    height: 6.4rem;

    bottom: 58%;
    right: 2%;

}

.userImage7 {
    width: 4.4rem;
    height: 4.4rem;

    bottom: 23%;
    right: -2%;

}

.userImage9 {
    width: 4.4rem;
    height: 4.4rem;
    bottom: 16%;
    left: -11%;

}

.userImage10 {
    width: 3.2rem;
    height: 3.2rem;

    top: 35%;
    right: -5%;
}

.userImage11 {
    width: 3.2rem;
    height: 3.2rem;
    top: 25.5%;
    right: 2%;
}

.Elipse1 {
    left: 1.5%;
    bottom: 52%;
}

.Elipse2 {
    top: -1.5%;
    left: 47%;
}

.Elipse3 {
    bottom: 45%;
    right: 0.3%;
}

.Elipse6 {
    bottom: 25%;
    left: -5.5%;
}

.Elipse7 {
    bottom: 16%;
    left: -3.5%;
}

.Elipse4 {
    right: -44px;
    bottom: 58%;
}

.Elipse5 {
    bottom: 17%;
    left: -8%;
    transform: rotate(-7deg);
}


@media (max-width: 768px) {

    .userImage {
        transform: scale(0.6);
        /* Scale down to 50% */
        transform-origin: top left;
    }


}

.cardsContainer {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .globeSection_cont {
        padding: 5rem;
    }

    .headingTextCont {
        gap: 4rem;
    }

    .heading_one {

        font-size: 3.2rem;
        font-weight: 500;
        line-height: 3.84rem;
        letter-spacing: 0.02em;

        width: 65%;


    }

    .heading_two {

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.92rem;
        letter-spacing: 0.02em;
        text-align: center;
        width: 60%;

    }

    .cardsContainer {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 5rem;
        padding-bottom: 8rem;

    }

}